
<div class="restaurant_with_the_visits">
<% @restaurants.each do |restaurant| %>
    <h1><%= link_to restaurant.restaurant_data, restaurant_path(restaurant) %></h1>
<% end %>
</div>


<div class="go_back_link">
<%= link_to "go back", user_path(current_user.id) %>
</div>