
<h1><%= @users %></h1>
<h3> Restaurants Visited</h3>
<% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>

    <div class="go_back_link">
    <%= link_to "go back", @user %>
    </div>

