
<div class="restaurant_most_wings">
<% @restaurants.each do |restaurant| %>
    <h1><%= restaurant.restaurant_data %></h1>
<% end %>
</div>


<div class="go_back_link">
<%= link_to "go back", user_path(current_user.id) %>
</div>