<div class="wing_details">
    <h1><%= @user.name %>'s Wing Collection Details </h1>
    <p><h3>Type: <%= @wing.type %></h3></p>
    <p><h4>Flavor: <%= @wing.flavor %></h4></p>
    <p><h4>Restaurant type: <%= @wing.restaurant.restaurant_data %></h4></p>
</div>