<h1><%= @user.name %></h1>
<h3> Restaurants Visited</h3>
<% @wings.each do |wing| %>
    <li><%= link_to wing.restaurant.restaurant_data, restaurant_path(wing.restaurant) %></li>
    <% end %>


<div class="go_back_link">
<%= link_to "go back", @user %>
</div>